@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
body {
color:#003249;
  font-family: "Aldrich", sans-serif;}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
}

.navbar__brand {
  font-size: 1.5rem;
}

.navbar__user {
  display: flex;
  align-items: center;
}

.navbar__user-icon {
  margin-right: 10px;
}

.navbar__user button {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}

.navbar__user button:hover {
  text-decoration: underline;
}
